*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
obj
gen/
bin/
out/
*.class
*.swp
.DS_Store
proguard_logs
*.apk
.idea/
*.log

build/

*.iml
local.properties
.idea/
.gradle/
captures/
.gradletasknamecache

